@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply relative hover:text-cyan-400 transition;
  }

  .nav-link::after {
    content: "";
    @apply absolute left-0 -bottom-1 h-[2px] w-0 bg-cyan-400 transition-all;
  }

  .nav-link:hover::after {
    @apply w-full;
  }

  .mobile-link {
    @apply block text-slate-200 text-lg hover:text-cyan-400 transition;
  }
}
